<div class="container">
  <p id="notice"><%= notice %></p>
  <center><h1>Clima</h1></center>
  <center><h2 id="hour"></h2></center>
    <table  id ="messages" class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Ciudad</th>
          <th scope="col">Hora</th>
          <th scope="col">Temperatura</th>
          <th colspan='3'></th>
        </tr>
      </thead>
        <tbody>
        </tbody>
    </table>
</div>
